.btn{
    border: none;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .3s ease;
    background-color: transparent;
}

.btn-primary{
    background-color: $primary;
    color: $white;
    width: rem(200);
    padding: 10px;
    border-radius: $Bradius;
    font-weight: $font-weight__bold;
    font-size: $font-size__strong;
    &:hover{
        background-color: $primaryHover;
    }
}

.btn-danger{
    background-color: $redColor;
    color: $white;
    width: rem(200);
    padding: 10px;
    border-radius: $Bradius;
    font-weight: $font-weight__bold;
    font-size: $font-size__strong;
    &:hover{
        background-color: $redHover;
    }
}