/* color */
$white:#fff;
$black:#000;
$primary:#ab7a5f;
$primaryHover:#c5a491;
$imgAfter:#fad9c8;
$lightgray:#f0f0f0;
$darkColor:rgb(29, 28, 28);
$desc_gray:#617d98;
$gray:#a3a2a2;
$borderColor:rgb(231, 230, 230);
$bgColor:#f1f5f8;
$bgOpacity:rgb(0, 0, 0,0.4);
$loadingBg:rgb(0, 0, 0,0.01);
$heroBg:#eaded7;
$darkBrown:#3a291f;
$redColor:rgb(252, 0, 0);
$redHover:rgb(253, 109, 109);


/* box shadow */
$borderShadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;;

/* font size */
$default-size:16;
$font-size__ex:rem(9);
$font-size__xs:rem(12);
$font-size__xs_1:rem(13);
$font-size__sm:rem(14);
$font-size__strong:rem(18);
$font-size__md:rem(20);
$font-size__lg:rem(34);
$font-size__lg_ex:rem(55);


/* font weight */
$default-size:400;
$font-weight__sm:500;
$font-weight__bold:600;
$font-weight__bold_md:700;
$font-weight__bold_ex:900;

/* radius */
$Bradius:rem(4)